:root {
    /* Colors */
    --default-button: #c2eabd;
    --background-main: #222c28;
    --background-console: #456990;
    --keypad: #7791ae;
    --keypad_2: #576a7f;
    --operator-keypad_1: #dda3b2;
    --operator-keypad_2: #ba7e91;
    --input-cursor: #381d2a;
    --input-area: #8b907e;
    --input-text: #dff2d8;
    --input-text_2: #d3d57c;
    --input-text-background: #0c1713;
    --clear-key_1: #a04668;
    --clear-key_2: #d7263d;
    --input-operator-text: #273043;
}

html,
body {
    padding: 0;
    margin: 0;

}

body {
    background-color: var(--background-main);
    font-family: 'Segment7', standard;
}

#calculator {
    background-color: var(--background-console);
    border: 4px var(--clear-key_2) solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 20%;
    width: 500px;
    height: 700px;
}

/* Input (buttons) */
input {
    border: 1px whitesmoke solid;
}

#input-area {
    background-color: var(--input-area);
    width: 500px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#input-text-area {
    position: relative;
    background-color: var(--input-text-background);
    color: var(--input-text_2);
    border: 4px var(--keypad_2) solid;
    font-size: 8ch;
    text-align: right;
    width: 493px;
    height: 150px;
    overflow: hidden;
}

#input-span {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: .25ch;
}

#data-input-clear-key {
    background-color: var(--clear-key_1);
    height: 50px;
    width: 500px;
    font-size: xx-large;
    text-align: center;
    color: #fefffe;
}

#data-input-clear-key:hover {
    background-color: var(--clear-key_2);
}

.button-area {
    display: flex;
    flex-direction: row;
}

/* Keypad */
#keypad {
    background-color: var(--keypad);
    width: 500px;
    height: 500px;
    text-align: left;
}

#keypad-group {
    display: flex;
}

/* Number keys */
#one-key,
#two-key,
#three-key,
#four-key,
#five-key,
#six-key,
#seven-key,
#eight-key,
#nine-key,
#zero-key,
#decimal-key,
#equals-key {
    display: inline-block;
    background-color: var(--default-button);
    font-size: xx-large;
    width: 124px;
    height: 124px;
}

#equals-key {
    background-color: var(--default-button);
}

/* Number Keys Hover */
#one-key:hover,
#two-key:hover,
#three-key:hover,
#four-key:hover,
#five-key:hover,
#six-key:hover,
#seven-key:hover,
#eight-key:hover,
#nine-key:hover,
#zero-key:hover {
    background-color: var(--keypad_2);
    color: var(--input-text);
}

#decimal-key:hover {
    background-color: var(--clear-key_2);
    color: var(--input-text);
}

#equals-key:hover {
    background-color: var(--clear-key_2);
    color: var(--input-text);
}

/* Operator Keys */
#divide-key,
#multiply-key,
#addition-key,
#subtraction-key {
    background-color: var(--operator-keypad_1);
    font-size: xx-large;
    width: 128px;
    height: 124px;
}

/* Operator Keys Hover */
#divide-key:hover,
#multiply-key:hover,
#addition-key:hover,
#subtraction-key:hover {
    background-color: var(--operator-keypad_2);
}